html {
  box-sizing: border-box;
}

.content {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
}


.button-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

.buttons {
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#random {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}

.header {
  text-align: center;
}
.range {
   text-align: center;
}
.grid {
  width: 960px;
  display: grid;
  height: 960px;
  
}



.element {
  border: 0.5px solid black;
}


#color-pick-text {
  margin-left: 5px;
}